<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/6060694.jpg);">
  <div class="container">
    <h3>Save any kind of movies</h3>
    <div class= "col text-center">
      <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>

<div class="card-category">
    <h3 class= "mb-0"> My Lists </h3>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "text-decoration-none" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/2000048.jpg)" >
        <div class= "text-center mt-5">
          <%= list.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
