
<div class= "list-banner" style="background-image: url(https://images.unsplash.com/photo-1561722798-9a732d141027?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80)">
  <h1>My List</h1>
</div>


<div class= "col-6">
  <%= simple_form_for (@list) do |f| %>
  <%= f.input :name%>
  <%= f.submit  'Submit List', class: "btn btn-success" %>
  <% end %>

  <%= link_to "Back", lists_path, class: "btn btn-primary position-end mt-3" %>
</div>
