<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: 'Enter the comment for the movie you choose' %>
  <%= f.association :movie %>
  <%= f.submit "Submit bookmark", class: "btn btn-success" %>
<% end %>
