.movie-card-info{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}

.movie-card-info img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.movie-card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.movie-card-info p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.movie-card {
  display: flex;
  margin-left: 5px;
  justify-content: center;
}
